{% extends 'base.html.twig' %}

{% block title %}Hello LuckyController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <form action="{{ path('app_logout') }}" method="post">
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{{ path('app_login') }}">Login</a>
        <a href="{{ path('app_register') }}">Register</a>
    {% endif %}

    <h1>Hello {{ controller_name }}! ✅</h1>
    <h2>Your lucky number is: {{ lucky }}!</h2>
    
    {# CONTROLLERI PASIRINKTAS VIENAS DUOMO IS DB IR ISVESTAS TWIGE #}
    <h3> {{ myname }} </h3>

    {# IS DB DUOMENU ISVEDAMAS VIENAS BE FORO #}
    {% set pirmasDuomo = test[0] %}
    <h3> {{ pirmasDuomo.surname }} </h3>

    {# VISI DUOMENIS SU FORU #}
    {% for testas in test %}
        <h4>{{ testas.id }} {{ testas.name }} {{ testas.surname }} </h4>
    {% endfor %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">User #</th>
            <th scope="col">Email</th>
            <th scope="col">Roles</th>
            <th scope="col">Username</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Arnas</td>
            <td>USER</td>
            <td>Joksass</td>
            <td>Empty</td>
            <td>
                <!-- APPROVE -->
                <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#apprModalID">Approve</button>
                    <!-- Unapprove Modal -->
                    <div class="modal fade" id="apprModalID" tabindex="-1" role="dialog" aria-labelledby="apprModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <form >
                                <div class="modal-header">
                                    <h5 class="modal-title" id="apprModalTitle">ID Arnas</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="text-center h5">Approve it?</div>                     
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Approve</button>
                                </div>
                            </form >
                        </div>
                        </div>
                    </div>
                    <!-- Unapprove Modal End -->
                <!-- APPROVE END -->

                <!-- UNAPPROVE -->
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#unappModalID">Unapprove</button>
                    <!-- Unapprove Modal -->
                    <div class="modal fade" id="unappModalID" tabindex="-1" role="dialog" aria-labelledby="unappModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <form >
                                <div class="modal-header">
                                    <h5 class="modal-title" id="unappModalTitle">ID Arnas</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="text-center h5">Unapprove it?</div>                     
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Unapprove</button>
                                </div>
                            </form >
                        </div>
                        </div>
                    </div>
                    <!-- Unapprove Modal End -->
                <!-- UNAPPROVE END -->

                <!-- EDIT -->
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editModalID">Edit</button>
                    <!-- Edit Modal -->
                    <div class="modal fade" id="editModalID" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <form >
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalTitle">Arnas</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <ul class="list-unstyled">
                                        <li>Roles:</li>
                                            <ul>USER</ul>
                                    </ul>

                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username" name="username">
                                    
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea class="form-control" id="description" rows="3" name="description" type="text">Empty</textarea>
                                    </div>                      
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </form >
                        </div>
                        </div>
                    </div>
                    <!-- Edit Modal End -->
                <!-- EDIT END -->

                <!-- DELETE -->
                <button type="button" class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#delModalID">Delete</button>
                    <!-- Delete Modal -->
                    <div class="modal fade" id="delModalID" tabindex="-1" role="dialog" aria-labelledby="delModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <form >
                                <div class="modal-header">
                                    <h5 class="modal-title" id="delModalTitle">ID Arnas</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="text-center h5">Delete it?</div>                     
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Delete</button>
                                </div>
                            </form >
                        </div>
                        </div>
                    </div>
                    <!-- Delete Modal End -->
                <!-- DELETE END -->
            </td>
        </tr>
        </tbody>
    </table>


</div>
{% endblock %}
