{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <form action="{{ path('app_logout') }}" method="post">
            <button class="btn btn-secondary" type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{{ path('app_login') }}">Login</a>
        <a href="{{ path('app_register') }}">Register</a>
    {% endif %}

    <div class="h2 text-center">Hello!</div>

    {% if is_granted('ROLE_APPROVED') %}
        <div class="h4 text-center">You're approved!</div>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="h4 text-center">You're admin do some things below</div>
        <div id="home-show"></div>
    {% endif %}

    {# CONTROLLERI PASIRINKTAS VIENAS DUOMO IS DB IR ISVESTAS TWIGE #}
    {# <h3> {{ myname }} </h3> #}

    {# IS DB DUOMENU ISVEDAMAS VIENAS BE FORO #}
    {# {% set pirmasDuomo = test[0] %}
    <h3> {{ pirmasDuomo.surname }} </h3> #}

    {# VISI DUOMENIS SU FORU #}
    {# {% for testas in test %}
        <h4>{{ testas.id }} {{ testas.name }} {{ testas.surname }} </h4>
    {% endfor %} #}

</div>
{% endblock %}
